@model ICollection<Fridge_Client.Models.FridgeModel>
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Year
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
            </tr>
        }
    </tbody>
</table>